<div class="row">
    <div>
        <h2 id="name" class="mt-3 text-center">Welcome, <span class="text-success">{{name}}!</span></h2>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-5 flex-column">
            <h3 id="yourPosts" class="">Your Posts:</h3>
            <div class="post-list">
                {{#each posts}}
                <a href="/posts/{{id}}" class="post-link">
                    <div class="card m-3">
                        <div class="card-header">
                            <h2>{{title}}</h2>
                            <span>{{price}}</span>
                            <span>Posted by you on {{format_date createdAt}} at {{format_time createdAt}}</span>
                </a>
                        </div>
                        <img src="{{image}}" alt="your post img">
                        <div class="card-body">
                            <p>{{content}}</p>
                        </div>
                     <!-- Delete button with data-id attribute -->
                        <button type="button" class="btn btn-success delete-btn" data-id="{{id}}">Delete</button>
                    </div>
                {{/each}}
            </div>
        </div>

        <div class="col-4">
            <h3 id="newPostHeader" class="text-center">Create New Post:</h3>
            <div id="form-adjust-create" class="container hidden">
                <div class="col">
                    <form class="form new-post-form" action="/dashboard" method="POST" enctype="multipart/form-data">
                        <div>
                            <label for="post-title" class="form-label mt-4">Title:</label>
                            <input type="text" class="form-control" id="post-title" placeholder="Instrument Type">
                        </div>

                        <div>
                            <label for="post-price" class="form-label mt-4">Price:</label>
                            <input type="text" class="form-control" id="post-price" placeholder="Instrument Price">
                        </div>

                            <div>
      <label for="categorySelect" class="form-label mt-4">Select Category</label>
      <select class="form-select" id="category-select">
        <option>Choose Category Below</option>
        <option>Guitars</option>
        <option>Bass Guitars</option>
        <option>Drums</option>
        <option>Keyboard</option>
        <option>Amps and Effects</option>
      </select>
    </div>

                        <div>
                            <label for="new-post-content" class="form-label mt-4">Content:</label>
                            <textarea class="form-control" type="text" id="new-post-content" name="content" placeholder="Any extra info such as condition, model, etc." rows="3"></textarea>
                        </div>
                        <div>
                            <label for="post-image" class="form-label mt-4">Image:</label>
                            <input type="file" class="form-control" id="post-image" name="image">
                        </div>
                        <div class="form-group">
                            <button type="submit" id="create-post-button" class="btn btn-success m-3">Create Post</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/js/post.js"></script>
<script src="/js/delete.js"></script>
