{{! Welcome message }}
<div class='row mt-2'>
  <div>
    <h1 id='name' class='mt-4 text-center fs-2'>
      <span class='border border-3 rounded-pill p-3'>Welcome,
        <span class='text-success'>{{name}}!</span>
      </span>
    </h1>
  </div>
</div>

{{! Create new post form }}
<div class='col-6 mx-auto' style='display: flex; flex-direction: column; width: 20rem;'>
  <span id='newPostHeader' class='text-center mt-4 fs-3'>Create New Post:</span>
  <div id='form-adjust-create' class='container hidden'>
    <div class='col'>
      {{! New Post Form }}
      <form class='form new-post-form' action='/api/posts' id='uploadForm' method='POST' enctype='multipart/form-data'>
        <input type='hidden' name='api_key' value='your_api_key' />
        <input type='hidden' name='timestamp' id='timestamp' />
        <input type='hidden' name='signature' id='signature' />
        <div>
          <label for='post-title' class='form-label mt-2'>
            Title:
          </label>
          <input type='text' class='form-control' id='post-title' placeholder='Instrument Type' />
        </div>
        <div>
          <label for='post-price' class='form-label mt-2'>
            Price:
          </label>
          <input type='text' class='form-control' id='post-price' placeholder='Instrument Price' />
        </div>
        <div>
          <label for='categorySelect' class='form-label mt-2'>
            Select Category
          </label>
          <select class='form-select' id='category-select' name='category'>
            <option value=''>
              Choose Option Below
            </option>
            <option value='1'>
              Guitars
            </option>
            <option value='2'>
              Bass Guitars
            </option>
            <option value='3'>
              Drums</option>
            <option value='4'>Keyboard</option>
            <option value='5'>Amps and Effects</option>
          </select>
        </div>
        <div>
          <label for='new-post-content' class='form-label mt-2'>Content:</label>
          <textarea class='form-control' type='text' id='new-post-content' name='content' placeholder='Any extra info such as condition, model, etc.' rows='3'></textarea>
        </div>
        <div>
          <label for='post-image' class='form-label mt-2'>Image:</label>
          <input type='file' class='form-control' id='post-image' name='image' />
        </div>
        <div class='form-group'>
          <button type='submit' id='create-post-button' class='btn btn-success m-3 d-flex mx-auto'>Create Post</button>
        </div>
      </form>
    </div>
  </div>
</div>

{{! Users posts }}
<div class='container mt-2'>
  <span id='yourPosts' class='d-flex justify-content-center mt-4 fs-3'>Your Posts:</span>
  <div class='row'>
    {{#each posts as |post|}}
      <div class='col-md-4 mb-3'>
        <div class='card h-100' style='background-color: rgba(172, 165, 158, 0.397);'>
          <div class='card-header text-body-tertiary d-flex justify-content-center align-items-center' style='height: 50px; font-size: 14px;'>
            Posted by you on
            {{format_date post.createdAt}}
            at
            {{format_time post.createdAt}}
          </div>
          <span class='card-title text-center mt-3'>
            <a href='/posts/{{post.id}}' class='post-link text-success fs-4 text-decoration-none'>
              {{post.title}}
            </a>
          </span>
          <div class='card-price mb-3 d-flex justify-content-center'>
            <span class='badge mt-2 bg-success w-25 py-3 fs-6'>${{post.price}}</span>
          </div>
          {{#if post.image}}
            <div class='mx-auto flex-grow-1' style='display: flex; max-width: 75%; align-items: center;'>
              <img src='{{post.image}}' class='mx-auto' alt='Product Image' style='display: block; max-width: 100%; max-height: 100%; border-radius: 10px;' />
            </div>
          {{else}}
            <svg
              xmlns='http://www.w3.org/2000/svg'
              class='d-block user-select-none'
              width='100%'
              height='100%'
              aria-label='Placeholder: Image cap'
              role='img'
              preserveAspectRatio='xMidYMid slice'
              viewBox='0 0 318 180'
              style='font-size:1.125rem;'
            >
              <rect y='18' x='5' rx='8' ry='8' width='90%' height='90%' fill='#868e96'></rect>
              <text x='46%' y='53%' text-anchor='middle' fill='#dee2e6' dy='.3em'>Product Image</text>
            </svg>
          {{/if}}
          <div class='mt-4 mb-3 border-top border-bottom px-2 py-2 border-success text-bg-light'>
            <p class='card-subtitle text-muted text-center'>{{post.content}}</p>
          </div>
          <!-- Delete button with data-id attribute -->
          <button type='button' class='btn btn-link text-success text-decoration-none delete-btn' data-id='{{post.id}}'>Delete Post</button>
        </div>
      </div>
    {{/each}}
  </div>
  <div class='container d-flex justify-content-center align-items-center mt-3'>
    <nav>
      <ul class='pagination custom-pagination'>
        <li class='page-item'></li>
        {{{paginateHelper pagination}}}
      </ul>
    </nav>
  </div>
</div>

<script src='/js/post.js'></script>
<script src='/js/delete.js'></script>