{{! post card }}
<div class="d-flex justify-content-center">
  <section>
    <div class='container w-50 card mb-3 mt-3'>
      <h3 class='card-header text-success mt-2 d-flex justify-content-center'>Instrument for sale!</h3>
      <div class='card-body pb-0'>
        <h5 class='card-title'><a
            href='/posts/{{post.id}}'
            class='post-link text-dark-emphasis fs-2 d-flex justify-content-center'
          >{{post.title}}</a>
        </h5>
      <div class="card-price mb-3 d-flex justify-content-center">
        <span class='badge mt-2 bg-success w-25 py-3 fs-6'>${{post.price}}</span>
      </div>
      </div>
      <div>
      {{#if post.image}}
        <img src='{{post.image}}' class='card-img-top' alt='Product Image' />
      {{else}}
        <svg
          xmlns='http://www.w3.org/2000/svg'
          class='d-block user-select-none ms-4'
          width='100%'
          height='100%'
          aria-label='Placeholder: Image cap'
          focusable='false'
          role='img'
          preserveAspectRatio='xMidYMid slice'
          viewBox='0 0 318 180'
          style='font-size:1.125rem;text-anchor:middle'
        >
          <rect
            y='18'
            rx='8'
            ry='8'
            width='80%'
            height='80%'
            fill='#868e96'
          ></rect>
          <text
            x='40%'
            y='50%'
            text-anchor='middle'
            fill='#dee2e6'
            dy='.3em'
          >Product img</text>
        </svg>
      {{/if}}
      </div>
      <div class="d-flex mt-4 mb-3 border-top border-bottom px-3 py-3">
        <p class='card-subtitle text-muted'>{{post.content}}</p>
      </div>
      <div class='card-options mb-3 d-flex justify-content-center'>
        <a href='#' class='card-link text-info text-decoration-none'>Buy now</a>
        <a href='#' class='card-link text-info text-decoration-none'>Comment</a>
      </div>
      <div class='card-footer text-body-tertiary pb-2 d-flex justify-content-center'>
        Posted by
        {{post.user.name}}
        on
        {{format_date post.createdAt}}
        at
        {{format_time post.createdAt}}
      </div>
    </div>
  </section>
</div>
<div class='d-flex justify-content-center'>
  <a href='/' class='btn btn-outline-success mt-3 mb-4 w-10'>Home</a>
</div>